# This script assumes you used fetcher to download the content
# Before running this script, be sure to use the command
#    cd -dir=<content directory>
# 
init
{% if format == "book" %}
   # Load a book
   load --fn=source/*.html
   transform --transformation="html2md,token-split"
{% else %}
   # Loading {{format}}
   load --fn=source/*.md
   transform --transformation="token-split"
{% endif %}
# Filter to just chapter 1 and 2
filter --where="block_tag like '%-ch01%' or block_tag like '%ch02%'"
prompt --task=../prompts/tasks/extract-key-points.txt --persona=../prompts/personas/oreilly-short.txt --global=metadata.yaml
squash --delimiter="\n************** SECTION BREAK *****************\n"
prompt --task=../prompts/tasks/cleanup-merged-blocks.txt --global=metadata.yaml
transfer-prompts --group_tag=cleaned-summaries
